<!DOCTYPE html>
<html lang="en"  ng-app="Sudoku">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>SUDOKO - VISHNU</title>
      <!-- Bootstrap core CSS -->
      <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <!-- Custom fonts for this template -->
      <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
      <!-- Plugin CSS -->
      <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
      <!-- Custom styles for this template -->
      <link href="css/freelancer.css" rel="stylesheet">
	     <script type="text/javascript" src="cordova.js"></script>
	     <script type="text/javascript" src="cordova_plugins.js"></script>
	     <script type="text/javascript" src="index.js"></script>
	   <script src="vendor/jquery/jquery.min.js"></script>
		  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
		  <script src="apps/js/libs/angular.min.js"></script>
		<script src="apps/js/app.js"></script>
		<script src="apps/js/data.js"></script>
		<script src="apps/js/controllers.js"></script>
		<script src="apps/js/filters.js"></script>
	  <script type="text/javascript" src="admob_simple.js"></script>
	  <script>
		   function onLoad() {
			  setTimeout(function() { advads(); }, 5000);
        		//document.addEventListener("deviceready", advads, false);
   		 }
	   </script>
   </head>
   <body id="page-top" ng-controller="SudokuController" onload="onLoad()" style="background:#18BC9C">
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
         <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Sudoko</a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  
                  <li class="nav-item mx-0 mx-lg-1">
                     <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="https://www.facebook.com/VMChoudhary" target="_blank">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Header -->
      <header class="masthead bg-primary text-white text-center" style="    overflow: hidden;">
         <div class="">
			 
            <img class="img-fluid mb-5 d-block mx-auto" ng-show="displaycompleted == true" src="img/profile.png" alt="">
            <h1 class="text-uppercase mb-0"  ng-show="displaycompleted == true" >Start Sudoko</h1>
            <hr class="star-light"  ng-show="displaycompleted == true" >
          	<div class="row" >
				<div class="col-md-11 col-sm-11 col-xs-11 col-md-offset-1 col-sd-offset-1 col-xs-offset-1">
					<button disabled="disabled" type="button" class="btn btn-default" ng-repeat="possibility in currentPossibilities">
						{[{possibility}]}
					</button>
				</div>
			</div>
			 <div class="col-md-12 col-sm-12 col-xs-12">
                <div ng-repeat="row in rows" class="row  {[{ row.id | row_modulo_3 }]}" style="margin:0px;">
                    <div ng-repeat="column in row.columns" class="rowbox  cell-{[{row.id}]}{[{column.id}]} {[{ column.id | column_modulo_3 }]}">
                        <input class="tablecell  cell-{[{column.id}]} {[{ column.class }]} {[{check(row.id, column.id)}]}"
                              name="cell-{[{row.id}]}{[{column.id}]}"
                               value="{{column.value}}" ng-model="column.value" type="text"
                               ng-maxlength="1" required
                               ng-click="possibilities(row.id, column.id)"
                               ng-change="{[{ getValue(column.value, row.id, column.id) }]}">
                    </div>
                </div>
            </div>
			 <div class="container" >
                    
                    <button class="btn btn-danger btn-block buttonshort" ng-click="generate()"><i
                            class="icon-random"></i> New Game
                    </button>
				 
                    <button class="btn btn-success btn-block buttonshort" ng-click="solve()" ng-show="displaycompleted == false"><i
                            class="icon-ok-sign"></i> Solve
                    </button>
                  
                   
                </div>
         </div>
      </header>
     
		   
   </body>
</html>